# Virtual environment
myenv/
venv/

# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# SQLite database
db.sqlite3

# IDE and OS files
.vscode/
*.swp
.DS_Store

# Ignore submission files
codes/
inputs/
outputs/